.cooperation {
  background-color: $color-banner;

  @media (min-width: $screen-md) {
    background-image: url('../img/pictures/banner-cooperation.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-position: 130% 100%;
  }

  @media (min-width: $screen-lg) {
    background-position: 90% 100%;
  }

  &__inner {
    width: 300px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;

    @media (min-width: $screen-md) {
      width: 750px;
      height: 400px;
      padding-top: 40px;

    }

    @media (min-width: $screen-lg) {
      width: 1170px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &__text {
    font-weight: 700;
    font-size: $font-sm;
    line-height: 24px;

    & p {
      margin-bottom: 20px;
    }

    @media (min-width: $screen-md) {
      width: 380px;
      font-size: $font-md;
      line-height: 24px;
    }

    @media (min-width: $screen-lg) {
      width: 600px;
      font-size: $font-lg;
      line-height: 30px;
    }
  }

  &__name {
    display: block;
    font-weight: 700;
    color: $main-color;
  }

  &__email a {
    display: block;
    margin-top: 15px;
    color: $main-color;
    font-weight: 700;

    @media (min-width: $screen-lg) {
      &:hover {
        color: $accent-color;
      }
    }
  }
}
