.intro {
  background-color: $white;

  &__inner {
    width: 300px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 40px;

    @media (min-width: $screen-md) {
      width: 750px;
    }
  }
}

.intro-title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.intro-guests {
  display: block;
  line-height: 24px;
  font-size: $font-sm;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: $screen-md) {
    font-size: $font-md;
  }
}

.intro-text {
  line-height: 24px;
  font-size: $font-xs;

  @media (min-width: $screen-md) {
    font-size: $font-sm;
  }

  p {
    margin-bottom: 10px;

    @media (min-width: $screen-md) {
      margin-bottom: 20px;
    }
  }
}

.intro-steps {
  margin-top: 40px;
  text-align: center;
  border-bottom: solid 5px $main-color;

  @media (min-width: $screen-md) {
  }

  &__title {
    line-height: 24px;
    font-size: $font-sm;
    font-weight: 700;
    margin-bottom: 30px;

    @media (min-width: $screen-md) {
      font-size: $font-md;
    }
  }

  &__items {
    @media (min-width: $screen-md) {
      display: flex;
      align-items: top;
      flex-wrap: wrap;
    }
  }

  &__item {

    @media (min-width: $screen-md) {
      width: 350px;
      padding-left: 15px;
      padding-right: 15px;

    }

    p {
      line-height: 24px;
      font-size: $font-xs;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 50px;
    }

    svg {
      fill: $main-color;
      margin-top: 20px;
    }
  }

  @media (min-width: $screen-md) {
    &__item:last-child {
      margin: 0 auto;
    }
  }
}

