.materials {
  background-color: $gray-light;

  &__inner {
    width: 300px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;

    @media (min-width: $screen-md) {
      width: 750px;
      height: 400px;
      padding-top: 40px;
      background-image: url('../img/pictures/banner-site.jpg');
      background-repeat: no-repeat;
      background-position: right;
      background-position: 110% 100%;
    }

    @media (min-width: $screen-lg) {
      width: 1170px;
      padding-left: 40px;
      padding-right: 40px;
      background-position: 95% 100%;
    }
  }

  &__buttons {


    @media (min-width: $screen-md) {

    }

    @media (min-width: $screen-lg) {

    }

  }

  &__buttons ul {
    padding: 0;
  }

  &__item {
    list-style-type: none;
  }

  &__item-link {
    display: block;
    color: $white;
    font-size: $font-xs;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    width: 250px;
    background-color: $main-color;
    border-radius: 5px;
    margin-bottom: 10px;


    @media (min-width: $screen-md) {
      font-size: $font-sm;
      width: 400px;
      min-height: 45px;
      padding-left: 15px;
      padding-top: 15px;
      padding-right: 10px;
      padding-bottom: 15px;
      margin-bottom: 30px;
    }

    @media (min-width: $screen-lg) {
      width: 500px;
      height: 50px;
      padding-left: 35px;
      padding-top: 15px;

      &:hover {
        background-color: $main-color-dark;
      }
    }
  }
}

