.page-header {
  background-color: $white;

  &__inner {
    width: 300px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    min-height: 50px;
    overflow: hidden;

    @media (min-width: $screen-md) {
      height: 60px;
      width: 750px;
    }

    @media (min-width: $screen-lg) {
      width: 1170px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
