.page {
  font-family: $font-family;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* stylelint-disable*/
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-v12-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v12-latin_cyrillic-500.woff') format('woff'); /* Modern Browsers */
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  src: url('../fonts/montserrat-v12-latin_cyrillic-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v12-latin_cyrillic-500italic.woff') format('woff'); /* Modern Browsers */
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/montserrat-v12-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v12-latin_cyrillic-700.woff') format('woff'); /* Modern Browsers */
}
/* stylelint-enable*/

span.accent {
  font-weight: 700;
}
