.tools {
  background-color: $gray-light;

  &__inner {
    width: 300px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 40px;
    padding-bottom: 30px;

    @media (min-width: $screen-md) {
      width: 750px;
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (min-width: $screen-lg) {
      width: 1170px;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 60px;
    }

    p {
      margin-bottom: 10px;
      line-height: 24px;
      font-size: $font-xs;

      @media (min-width: $screen-md) {
        margin-bottom: 20px;
        line-height: 30px;
        font-size: $font-sm;
      }

      @media (min-width: $screen-lg) {
        font-size: $font-md;
      }
    }
  }

  &__questions {
    display: block;
    font-size: $font-sm;
    color: $main-color;
    font-style: italic;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;

    @media (min-width: $screen-lg) {
      font-size: $font-md;
      line-height: 30px;
    }
  }

  &__kit {
    margin-top: 30px;
    font-size: $font-sm;
    font-weight: 700;

    @media (min-width: $screen-md) {
      margin-top: 50px;
    }

    @media (min-width: $screen-lg) {
      p {
        font-size: $font-lg;
      }
    }
  }

  &__kit-list {
    list-style-type: none;
    padding-left: 0;

    @media (min-width: $screen-lg) {
      padding-top: 20px;
    }
  }

  &__kit-item {
    margin-bottom: 20px;
    padding-left: 60px;
    position: relative;

    &:before {
      background-image: url('../img/open-book.png');
      content: '';
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      left: 0;
      top: 5px;
    }

    @media (min-width: $screen-md) {
      &:before {
        top: 0;
      }

      min-height: 40px;
    }
  }

  &__kit-link {
    font-size: $font-xs;
    font-weight: 700;
    color: $gray-dark;

    @media (min-width: $screen-lg) {
      font-size: $font-sm;
      padding-top: 10px;
      display: block;

      &:hover {
        color: $accent-color;
      }

      &:focus {
        color: $second-color-light;
      }
    }
  }
}
