$main-color:          #00b64f;
$main-color-dark:     #007633;
$main-color-light:    #62DB97;
$second-color:        #E0464B;
$second-color-light:  #F07477;
$warning-color:       #FDC05D;

$white:               #fff;
$gray-light:          #edecec;
$gray-dark:           #231f20;
$black:               #000;

$text-color:          $gray-dark;

$font-family:         -apple-system, 'Montserrat', 'Roboto', 'Arial', sans-serif;
$font-size:           14px;
$line-height:         1.4;

$screen-sm:           320px;
$screen-md:           768px;
$screen-lg:           1170px;
$screen-xl:           1920px;

$font-xs:             14px;
$font-sm:             18px;
$font-md:             20px;
$font-lg:             24px;
$font-xl:             30px;

